<!DOCTYPE html>

<html>
    <head>

    </head>
    <body>
        <h1>Welcome to the MusicLib</h1>
        <h2><a href="/viewPlaylist">View Playlist</a></h2>
        <h2><a href="/viewFavArtist">View Favorite Artist</a></h2>
        <h2><a href="/addSong">Add song</a></h2>
        <h2><a href="/deleteSong">Delete song song</a></h2>
        <h2><a href="/searchSong">Search song</a></h2>
        <h2><a href="/addArtist">Add Favorite Artist</a></h2>
        <h2><a href="/findSongs">Find reccomended songs</a></h2>

    </body>
</html>