<!DOCTYPE html>

<html>
    <body>
        <h1>View Playlist</h1>
        <table border=1>
            <thead>
                <td>Song</td>
                <td>Artist</td>
                <td>Genre</td>
               
                
            </thead>

            {% for row in rows %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    
                    </tr>
            {% endfor %}    

        </table>
        <p><a href="/home">Back to home</a></p>
    </body>
</html>